<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/header.css">

    <title>Welcome to INTERN</title>
</head>

<body>

    <header>
        <img class="logo" src="/images/logo1.JPG" alt="logo">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <a class="btn btn-light btn-lg" href="/details" role="button">Go Back</a>
        </ul>
    </header>

    <div class="student"><br><br>

        <a href="/viewsimilar" class="btn btn-sm btn-info my-button-design">View Similar Colleges</a>

        <div class="container">

            <h1 class="my-h1">
                Student DATABASE
            </h1>
            <br>


            <table class="table table-dark table-striped my-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Year of Batch</th>
                        <th>Profile Pic</th>
                        <th>Skills</th>
                        <th>View Profile</th>
                    </tr>
                </thead>
                <tbody>
                    <% students.forEach(function(student){ %>
                        <tr>
                            <td>
                                <%= student.student_id %>
                            </td>
                            <td>
                                <%= student.student_name %>
                            </td>
                            <td>
                                <%= student.student_email %>
                            </td>
                            <td>
                                <%= student.year_of_batch %>
                            </td>
                            <td>
                                <%= student.student_image %>
                            </td>
                            <td>
                                <%= student.skills %>
                            </td>
                            <td>
                                <a href="profile/<%= student.student_id %>" class="btn btn-sm btn-danger">View</a>
                            </td>

                        </tr>
                        <% }) %>
                </tbody>
            </table>

        </div>




    </div>
</body>

</html>